@charset "utf-8";
/* CSS Document */

body {
	background: url(../images/global/bg_01.jpg) no-repeat;
	color: #fff;
	/*height: 1200px;*/
	}
/*头部*/
#header { 
	background: url(../images/global/header-bg.png) no-repeat;
	margin-bottom: 70px;
	}

.header-wrap { 
	position: relative;
	margin: 0 auto;
	width: 1260px; 
	height: 70px;
	}
.header-wrap h1 a {
	position: relative;
	top: 15px;
	display: block;
	width: 333px;
	height: 40px;
	text-indent: -9999px;
	background: url(../images/global/logo.png) no-repeat;
	}
.header-wrap a {
	position: absolute;
	top: 25px;
	right: 0;
	font-size: 14px;
	color: #fff;
	}
/**/
#main {
	}
	
.main-wrap {
	position: relative;
	margin: 0 auto;
	width: 1260px;
	height: 500px;
	background: url(../images/global/banner.png) no-repeat;
	}
.info {
	position: absolute;
	right:0;
	top: 94px;
	width: 551px;
	
	}
.info h2 {
	height: 38px;
	margin-bottom: 20px;
	background: url(../images/global/h2.png) no-repeat;
	}
.info p { 
	line-height: 30px; 
	text-align: right;
	font-family: "Segoe UI Light", Arial, freesans, sans-serif;
	}
.info p.security {
	padding: 10px 0 20px;
	font-size: 20px;
	}
.info a.download { 
	display: block;
	
	margin-left: 316px;
	margin-bottom: 5px;
    width: 235px;
    height: 66px;
	background: url(../images/global/download.png) no-repeat;
	}
.info a.download:hover {
	background: url(../images/global/download-hover.png) no-repeat;
	}
.info p.link a {
	color: #2871d5;
	}
	
	/*footer*/
#footer {
	width: 100%;
	}
.img-links {
	margin: 20px auto;
	width: 1260px;
	text-align: center;
	}
.img-links a {
	display: inline-block;
	margin: 0 20px;
	font-size: 0;
	}

.more { 
	width: 100%;
	padding: 20px 0;

	border-top: 1px solid #d8dce2;
	font-size: 12px;
	color: #999; 
	}

.more-wrap {
	width: 880px;
	padding: 0 190px;
	margin: 0 auto;
	}
.more-wrap .qq .title,
.more-wrap .qq a {
	display: inline-block;
	margin-right: 10px;
	}
.more-wrap .contact a {
	display: inline-block;
	margin: 0 5px;}
.more-wrap .copyright {
	clear: both;
    padding-top: 6px;
	}
