@charset "utf-8";
/* CSS Document */

/*header 部分*/
#header {
	width: 100%;
	height: 744px;
	background: url(../images/mac/section1/top-bg.jpg) no-repeat center center;
	}
.header-content {
	width:1200px;
	margin: 0 auto;
	}
.header-content .header-hd { 
	height: 185px;
}
.header-content .header-hd .logo {
	width: 462px;
	height: 68px;
	padding: 60px 0 0 72px;
	}
.header-content .header-hd .nav {
	color: #fff;
	padding: 60px 74px 0 0;
}
.header-content .header-hd .nav a {
	font-size: 16px;
	line-height: 68px;
	margin: 0 18px;
	color: #fff;
}
.header-content .header-hd .nav a:hover {
	text-decoration: underline;
}
	/*left*/
/*.animation {
	position: relative;
}*/
.header-content .animation {
	position: relative;
	width: 684px;
	height: 484px;
	background: url(../images/mac/section1/banner-bg.png) no-repeat 0 -20px;
	margin-left: 27px;
}
.animation-l {
	padding: 35px 0 0 42px;
	position: relative;
	z-index: 1;
	width: 80px;
	height: 360px;
}
.animation-l li {
	width: 80px;
	height: 56px;
}
.animation-l li a {
	width: 80px;
	height: 60px;
	display: block;
	background: url(../images/mac/section1/tab-icon-white.png) no-repeat;
	opacity: 0.6;
}
.animation-l .active a {
	opacity: 1;
}
/*#animation-left .Opaque{
	background: #12529a;
	transition: .5s;
}*/
	/*活跃状态下的背景*/
.animation-l li:nth-of-type(2) a {
	background-position: 0 -56px;
}
.animation-l li:nth-of-type(3) a {
	background-position: 0 -112px;
}
.animation-l li:nth-of-type(4) {
	position: relative;
}
.animation-l li:nth-of-type(4) img {
	position: absolute;
	left: 53px;
	top: 2px;
}
.animation-l li:nth-of-type(4) a {
	background-position: 0 -168px;
}
.animation-l li:nth-of-type(5) a {
	background-position: 0 -224px;
}
.animation-l li:nth-of-type(6) a {
	background-position: 0 -280px;
}
.animation .icon-tab {
	width: 80px;
	height: 336px;
	position: absolute;
	left: 42px;
	top: 35px;
	z-index: 0;
}
.animation .icon-tab div {
	width: 80px;
	height: 56px;
	position: absolute;
	background: #12529a;
	left: 0;
	top: 0;
	transition: .5s;
}
.animation .animation-r {
	width: 518px;
	height: 400px;
	position: relative;
}

.animation .animation-r img {
	position: absolute;
	opacity: 0;

	transition: .5s;
}
.animation .animation-r .font {
	left: 50px;
	top: 150px;
	z-index: 2;
	
	}
.animation .animation-r .image {
	right: -150px;/*-150*/
	top: 21px;

	}
/*
.animation .animation-r img:nth-of-type(1) {
	position: absolute;
	left: 50px;
	top: 80px;
	opacity: 0;
	z-index: 1;
}
.animation .animation-r img:nth-of-type(2) {
	position: absolute;
	right: -90px;
	top: 21px;
}
.animation .animation-r img:nth-of-type(3) {
	position: absolute;
	left: 50px;
	top: 150px;
	z-index: 2;
}
.animation .animation-r img:nth-of-type(4) {
	position: absolute;
	right: -150px;
	top: 21px;
	opacity: 0;
}

	/*right*/
.header-bd .header-bd-r {
	width: 254px;
	padding-top:18px;
	margin-right: 50px;
	}
.header-bd .header-bd-r .image-title {
	height: 106px;
	padding-bottom: 20px;
	}
.header-bd .header-bd-r .about {
	height: 50px;
	padding-bottom:32px;
	border-bottom: 1px solid #75aadf;
	}
.header-bd .header-bd-r .about p {
	line-height: 25px;
	font-size: 16px;
	color: #cbe9ff;
	}
.header-bd .header-bd-r .more {
	height: 56px;
	padding-left:35px;
	}
.header-bd .header-bd-r .more p {
	line-height: 28px;
	font-size: 12px;
	font-weight: 700;
	color: #ffeae9;
	}
#header .download {
	margin: 36px 0 30px 24px;
	width: 184px;
    height: 52px;
    display: block;
    background: url(../images/mac/download-button.png) no-repeat -4px -2px;
}

#header .download:hover {
	background-position: -196px -2px; }
	
/*清静安心  从体检开始*/

#section2 {
	width: 1200px;
	height: 732px;
	margin: 0 auto;
	border-bottom: 1px solid #dddfde;
}
#section2 h2 {
	width: 490px;
	padding: 90px 0 30px 0;
	margin: 0 auto;
	border-bottom: 1px solid #d8dcdf;
}
#section2 .description {
	width: 490px;
	margin: 30px auto 72px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #81949a;
}
#section2 ul li {
	float: left;
	width: 300px;
	text-align: center;
}
#section2 ul li .img-icon {
	width: 300px;
	height: 200px;
	margin: 0 auto;
	text-align: center;
}
#section2 ul li img {
	width: 200px;
	transform: scale(0,0);
	transition: .5s;
}
/*#clean ul li img:hover{
	width: 220px;
	transition:.5s;
}*/

#section2 ul li h4 {
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	font-weight: 400;
	padding-top: 46px;
	color: #4b565c;
}
#section2 ul li p {
	padding: 20px 0 113px;
	height:16px;
	line-height:16px;
	font-size: 12px;
	color: #a79c98;
}
/*节约空间 一键解决*/
#section3 {
	margin: 0 auto;
	padding-top:150px;
	width: 1200px;
	height: 575px;
	border-bottom: 1px solid #dddfde;
	}
.section3-l {
	position: relative;
	left: -100px;
	width: 660px;
	height: 460px;
	opacity: 0;
	}
	/*	
.section3-l-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 660px;
	height: 460px;
	background: url(../images/mac/section3/s3-bg.png) no-repeat;
	}
	*/
.section3-l ul {
	width: 348px;
	height: 119px;
	position: absolute;
	left: 213px;
	top: 160px;
}
.section3-l ul li {
	width: 101px;
	height: 146px;
	position: absolute;
	bottom: 0;
	background: url(../images/mac/section3/s3-histogram.png) no-repeat;
	opacity: 0;
	transition: .3s;
}
.section3-l ul li:nth-of-type(1) {
	left: -16px;
	z-index: 1;
	opacity: 1;
}
.section3-l ul li:nth-of-type(2) {
	left: 21px;
	background-position-x: -101px;
}
.section3-l ul li:nth-of-type(3) {
	left: 62px;
	background-position-x: -202px;
}
.section3-l ul li:nth-of-type(4) {
	left: 100px;
	background-position-x: -303px;
}
.section3-l ul li:nth-of-type(5) {
	left: 139px;
	background-position-x: -404px;
	z-index: 1;
}
.section3-l ul li:nth-of-type(6) {
	left: 176px;
	background-position-x: -505px;
}
.section3-l ul li:nth-of-type(7) {
	left: 217px;
	background-position-x: -606px;
}
.section3-l ul li:nth-of-type(8) {
	left: 257px;
	background-position-x: -707px;
}
.section3-l div {
	width: 348px;
	height: 15px;
	padding-top: 5px;
	position: absolute;
	left: 213px;
	top: 280px;
}
.section3-l div span {
	float: left;
	width: 13px;
	height: 13px;
	margin-left: 26px;
	background: url(../images/mac/section3/s3-iconl.png) no-repeat;
}
.section3-l div span:nth-of-type(1) {
	background-position-y: -13px; /*第一个是激活状态的*/
}
.section3-l div span:nth-of-type(2) {
	background-position-x: -13px;
}
.section3-l div span:nth-of-type(3) {
	background-position-x: -26px;
}
.section3-l div span:nth-of-type(4) {
	background-position-x: -39px;
}
.section3-l div span:nth-of-type(5) {
	background-position-x: -52px;
}
.section3-l div span:nth-of-type(6) {
	background-position-x: -65px;
}
.section3-l div span:nth-of-type(7) {
	background-position-x: -78px;
}
.section3-l div span:nth-of-type(8) {
	background-position-x: -91px;
}
.section3-r {
	margin-right:104px; 
	width: 368px;
	
	}
.section3-r h2 {
	position: relative;
	top: -80px;
	padding-bottom:30px;
	height: 40px;
	opacity: 0;
	}
.section3-r .line {
	border-top: 1px solid #d5dfe7;
	}

/*	
.section3-r h2 img { 
	position: absolute; 
	left: 0; 
	top: -50px;
	opacity: 0; /*js让其变为1*/
	
.section3-r p {
	position: relative;
	top: 60px;
	padding: 32px 0 52px;
	height:72px;
	line-height:24px; 
	overflow: hidden;
	font-size: 14px;
	color: #87959d;
	opacity: 0;
	}
.section3-r	.img-tabs {
	position: relative;
	top: 30px;
	opacity: 0;
	}
.section3-r .img-btn {
	float: left;
	margin-right: 40px;
	margin-bottom: 28px;
	width: 56px;
	height:56px;
	border:2px solid #e2e7eb;
	border-radius: 50%;
	transition: .5s;  /*加个过度效果，体验更好*/
	}

.section3-r .img-btn:hover {
	border-color: #51b164;
	}
.section3-r .img-btn img {
	width:56px;
	height:56px;
	}
	
/*管理自如  得心应手*/
#section4 {
	width: 1200px; 
	height:720px;
	margin: 0 auto;
	border-bottom: 1px solid #dddfde;
	}
.section4-l {
	margin-left:58px;
	padding-top: 130px;
	}
.section4-l  h2 {
	position: relative;
	top: -80px;
	padding-bottom:30px;	
	width: 358px;
	height: 40px;
	opacity: 0;
	/*border-bottom: 1px solid #d5dfe7;*/
	}
.section4-l  .line {
	margin-top:30px;
	border-bottom: 1px solid #d5dfe7;
	margin-bottom: 34px;
	}
.section4-l ul {
	position: relative;
	top: 70px;
	opacity: 0;
}
.section4-l li {
	padding: 10px 0 30px 84px;
	height: 46px;
	/*margin-bottom: 30px;*/
}
.section4-l li:nth-of-type(1) {
	background: url(../images/mac/section4/4-1.png) no-repeat;
}
.section4-l li:nth-of-type(2) {
	background: url(../images/mac/section4/4-2.png) no-repeat;
}
.section4-l li:nth-of-type(3) {
	background: url(../images/mac/section4/4-3.png) no-repeat;
}
.section4-l li:nth-of-type(4) {
	background: url(../images/mac/section4/4-4.png) no-repeat;
}
.section4-l li h4 {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #48637b;
}
.section4-l li p {
	font-size: 12px;
	line-height:26px;
	color: #7b8b9a;
}

.section4-r {
	position: relative;
	margin-top:148px;
	width: 614px;
	height: 460px; 
	}
.section4-r-bg {
	position: absolute;
	left: 100px;
	width: 614px;
	height: 460px; 
	background: url(../images/mac/section4/s4-bg.png) no-repeat;
	}
	
/*手机空间 一键释放*/
#section5,
#section6 {
	margin: 0 auto;
	width:1200px; 
	height: 605px;
	border-bottom: 1px solid #dddfde;
	}
.section5-l,
.section6-l {
	
	margin-top: 85px;
	width: 661px;
	height: 460px;
	}
.section5-l img {
	position: relative;
	left: -100px;
	opacity: 0;
	}
.section5-r {
	margin-right:80px;
	padding-top: 200px;
	width: 362px; 
	}
.section5-r h2,
.section6-r h2 {
	position: relative;
	top: -80px;
	padding-bottom: 30px;
	height: 40px;
	
	}
.section5-r .line,
.section6-r .line {
	border-bottom: 1px solid #d5dfe7;
	margin-bottom: 30px;
	}
	/*
.section5-r h2 img,
.section6-r h2 img {
	position: absolute;
	left:0;
	top:0;
	}*/
.section5-r p,
.section6-r p {
	position: relative;
	top: 60px;
	font-size:14px;
	line-height: 24px;
	color: #8698a7;
	}
	
.section6-l {
		margin-right: 80px;
		}
.section6-l img {
	position: relative;
	left: 100px;
	opacity: 0;
	}
.section6-r {
	padding-top: 200px;
	width: 362px;
	margin-left: 80px;
	}
/*包罗万象 以小见大*/
#section7 {
	margin: 0 auto;
	width: 1200px; 
	height: 750px;
	}
.section7-l {
	width:360px;
	margin-top: 270px;
	margin-left: 70px;
	}
.section7-l h2 {
	position: relative;
	top: -80px;
	opacity: 1;
	}
.section7-l .line {
	border-bottom: 1px solid #d5dfe7;
	margin-top:30px;
	margin-bottom: 30px;
	}
.section7-l p{
	position: relative;
	top: 60px;
	line-height: 20px;
	font-size:16px;
	color: #8698a7;
	opacity: 1;}
.section7-r {
	padding-top:50px;
	}
.section7-r .img-box {
	position: relative;
	width: 740px;
	height: 625px;
	}
.section7-r img {
	position: absolute;
	opacity: 0;
	}
.section7-r img:nth-of-type(1) {
	left: 100px;
	bottom:0;
	z-index: 30;
	}
.section7-r img:nth-of-type(2) {
	left: 200px;
	bottom:100px;
	z-index: 20;
}
.section7-r img:nth-of-type(3) {
	right: 0px;
	top: 0;
	z-index: 10;
}
/*以微之著  一清二楚*/

#section8 {
	width: 100%;
	height: 434px;
	background: url(../images/mac/section8/s8-bg.jpg) no-repeat;
	}
#section8 .content {
	width: 1200px;
	height: 434px;
	margin: 0 auto;
	}
#section8 .section8-l {
	width: 355px;
	font-size: 0;
	padding: 100px 0 0 100px;
}
/*
#section8 .section8-l h2,#crystal .section8-l p  {
	position: relative;
	opacity: 0;
}*/
#section8 .section8-l h2{
	position: relative;
	top: -60px;
	height: 40px;
	opacity: 0;
}
#section8 .section8-l .line {
	border-bottom: 1px solid #fff;
	margin-top: 40px;
	margin-bottom: 34px;
	}
	/*
#section8 .section8-l h2 img {
	position: absolute;
	left: 0;
	top: 0; /*100px;*/
#section8 .section8-l p {
	position: relative;
	bottom: -30px; /*让其运动到0*/
	font-size: 14px;
	line-height: 24px;
	color: #ebf2fc;
	opacity: 0;
	
}
#section8 .section8-r {
	width: 590px;
	height: 434px;
	position: relative;
}
#section8 .section8-r img {
	position: absolute;
	opacity: 0;
}
#section8 .section8-r img:nth-of-type(1) {
	left: 150px;
	top: 10px;
	
}
#section8 .section8-r img:nth-of-type(2) {
	left: 224px;
	top: 70px;
	
}
#section8 .section8-r img:nth-of-type(3) {
	left: 198px;
	top: 0;
	
}

/*footer部分*/
#footer {
	width: 100%;
	height: 304px;
	background: url(../images/mac/footer-bg.png) repeat;
}
#footer .content {
	width: 1200px;
	margin: 0 auto;
	padding-top: 61px;
	text-align: center;
}
#footer .advantage {
	font-size: 24px;
	font-weight: 500;
	color: #eefff7;
}
#footer .version {
	font-size: 14px;
	line-height: 68px;
	color: #a4e2f9;
}
#footer .download {
	margin: 0 auto;
	width: 184px;
    height: 52px;
    display: block;
    background: url(../images/mac/download-button.png) no-repeat -4px -2px;
}

#footer .download:hover {
	background-position: -196px -2px; }
#footer .copyright {
	font-size: 12px;
	line-height: 22px;
	color: #efffcc;
	padding-top: 38px;
}


